/* styles.css */

body {
  font-family: "Arial", sans-serif;
  color: #333;
  margin: 0;
  padding: 20px;
  line-height: 1.6;
  background: linear-gradient(to bottom right, #e91e63, #f06292, #f8bbd0);
}
h1 {
  color: #d1b6bf;
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 20px;
  text-wrap: balance;
}
h2 {
  font-size: 1.8em;
  margin-top: 20px;
  margin-bottom: 10px;
}
p {
  margin-bottom: 15px;
}
a {
  color: #cbc8c8;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.img-float {
  float: left;
  width: 30%;
}
img {
  display: block;
  margin: 20px auto;
  max-width: 20%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.box {
  color: rgb(199, 150, 191);
  border: rgba(227, 217, 217, 0.2);
  padding: 50px;
  border-radius: 10px;
  flex: 1 1 150px;
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(to bottom right, #333, #333, #4d4d4d);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

header {
  margin-bottom: 30px;
}

.top-menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.list {
  list-style: none;
  display: flex;
  gap: 20px;
  text-align: center;
}

.title-bar {
  font-size: 1.5em;
  display: flex;
  align-items: center;
  color: #de90aa;
}

.title-bar img {
  display: block;
  max-width: 10%;
  height: auto;
  margin: 5px;
  border-radius: 0px;
  box-shadow: none;
}
